{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/stadiums/stadium-detail.css' %}"
/>
<script defer src="{% static 'js/stadium-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="stadium-container">
  <div class="stadium-img">
    <img 
      src="{% static 'images/' %}" 
      alt="A stadium"
    >
  </div>
  <div class="stadium-details">
    <h1>{{ stadium.name }}</h1>
    <p>This Stadium is located in {{ stadium.location }}</p>
    <p>{{ stadium.description }}</p>
    <div class="stadium-actions">
      <a href="{% url 'stadiums_update' stadium.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stadiums_delete' stadium.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="concessions-container">
  <section class="concessions">
    <div class="subsection-title">
      <h2>Concessions</h2>
      <img 
        src="{% static 'images/' %}" 
        alt="A beer, soda or hotdog"
      />
    </div>
    <h3>Add a Concession</h3>
    <form
      action="{% url 'add_concession' stadium.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ concession_form.as_p }}
      <button type="submit" class="btn submit">Add Concession</button>
    </form>
    <h3>Past Concessions</h3>
    {% if stadium.concession_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Snack</th></tr>
      </thead>
      <tbody>
        {% for concession in stadium.concession_set.all %}
          <tr>
            <td>{{ concession.date }}</td>
            <td>{{ concession.get_snack_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>{{stadium.name}} Your Concessions are empty. Quick grab a beer and log it!</p>
    </div>
    {% endif %}
  </section>
</div>

{% endblock %}

