{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/stadiums/stadium-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="stadium-container">
  <div class="stadium-img">
    <img 
      src="{% static 'images/' %}" 
      alt="A stadium"
    >
  </div>
  <div class="stadium-details">
    <h1>{{ stadium.name }}</h1>
    <p>This Stadium is located in {{ stadium.location }}</p>
    <p>{{ stadium.description }}</p>
    <div class="stadium-actions">
      <a href="{% url 'stadiums_update' stadium.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stadiums_delete' stadium.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}